In [3]:
import pandas as pd

data = pd.read_csv('cost_distribution.csv')

In [4]:
df = pd.DataFrame(data)
print(data)

        Month Utility      Gas Electricity   Water Internet    TOTAL  \
0     January  $22.19   $51.42      $58.52  $43.85   $59.99  $235.97
1    February  $55.41   $68.60      $60.61  $49.14   $59.99  $293.75
2       March  $55.41   $46.63      $29.75  $65.13   $59.99  $256.91
3       April  $55.41   $19.07      $56.67  $62.32   $59.99  $253.46
4        June  $65.41   $11.60      $89.69  $66.00   $59.99  $292.69
5        July  $55.41   $35.34      $93.53  $61.96   $59.99  $306.23
6      August  $55.41   $14.18     $193.46  $60.75   $59.99  $383.79
7   September  $55.41   $15.48     $160.06  $62.50   $59.99  $353.44
8     October  $55.47   $13.34     $116.77  $62.50   $59.99  $308.07
9    November  $55.47   $15.87      $46.26  $62.50   $59.99  $240.09
10   December  $55.47   $40.26      $89.00  $46.00   $59.99  $290.72
11    January  $55.47   $85.25     $105.40   $0.00   $59.99  $306.11
12   February  $55.47  $115.41     $106.76  $37.95   $81.95  $397.54
13      March  $55.47  $112.98     $103.46  $38.02   $81.95  $391.88
14      April  $55.47   $56.85     $112.17  $38.12   $91.95  $354.56
15        May  $55.47   $21.96     $104.05  $19.02   $81.95  $282.45
16       June  $55.47    $5.82     $139.00  $59.75   $81.95  $341.99
17       July  $55.47   $14.90     $299.46  $69.00   $91.95  $530.78
18     August  $55.47   $22.61     $347.20  $75.04   $81.95  $582.27
19  September  $55.47   $13.67     $218.65   $1.77   $81.95  $371.51
20    October  $55.47   $16.64     $162.24  $62.60   $81.95  $378.90
21   November  $55.47   $16.64      $70.51  $55.12   $81.95  $279.69
22   December  $55.47   $32.64     $127.45  $43.95   $81.95  $341.46
23    January  $55.47   $69.88     $107.00  $37.53   $81.95  $351.83
24   February  $55.47  $101.87     $105.87  $42.43   $60.00  $365.64
25      March  $55.47   $75.21     $108.13  $40.00   $60.00  $338.81
26      April  $55.47   $43.09      $88.01  $37.75   $60.00  $284.32
27        May  $55.47    $6.88      $59.85  $41.03   $60.00  $223.23
28       June  $55.47   $17.44     $137.71  $66.76   $60.00  $337.38
29       July  $55.47   $16.96     $164.09  $30.33   $60.00  $326.85
30     August  $55.47   $13.13     $215.71  $52.44   $60.00  $396.75
31  September  $55.52   $12.93     $234.83  $44.50   $60.00  $407.78
32    October  $55.52   $14.53     $162.87  $41.35   $60.00  $334.27
33   November  $55.52   $16.57     $128.85  $44.60   $60.00  $305.54
34   December  $55.57   $22.69     $156.71  $43.01   $60.00  $337.98
35    January  $55.57   $98.70     $166.12  $35.09   $80.00  $435.48
36   February  $55.57   $87.93     $132.04  $34.04   $80.00  $389.58
37      March  $55.57   $55.07     $125.15  $40.39   $80.00  $356.18
38      April  $55.57   $39.42     $100.00  $42.02   $80.00  $317.01
39        May  $55.57    $1.42      $97.92  $53.85   $80.00  $288.76
40       June  $55.57   $17.12     $166.17  $53.95   $80.00  $372.81
41       July  $55.57   $17.19     $199.19  $49.51   $80.00  $401.46
42     August  $55.57   $17.13     $292.73  $62.28   $80.00  $507.71
43  September  $55.57   $14.18     $241.85  $57.02   $80.00  $448.62
44    October  $55.59   $15.87     $192.96  $64.88   $80.00  $409.30
45   November  $55.59   $19.47      $86.01  $40.84   $80.00  $281.91
46   December  $55.59   $29.10     $164.54  $39.04   $80.00  $368.27
47    January  $55.59   $68.50     $216.24  $44.83   $80.00  $465.16
48   February  $55.59   $67.45     $203.50  $19.66   $80.00  $426.20
49      March  $55.59   $48.94     $197.45  $40.14   $80.00  $422.12
50      April  $55.59   $21.06     $175.60  $53.15   $93.00  $398.40

    Occupants     EACH
0           2  $117.99
1           2  $146.88
2           2  $128.46
3           3   $84.49
4           3   $97.56
5           3  $102.08
6           3  $127.93
7           3  $117.81
8           3  $102.69
9           3   $80.03
10          3   $96.91
11          3  $102.04
12          3  $132.51
13          3  $130.63
14          3  $118.19
15          3   $94.15
16          3  $114.00
17          4  $132.70
18          4  $145.57
19          4  $123.84
20          4  $126.30
21          4   $93.23
22          4  $113.82
23          4  $117.28
24          4  $121.88
25          4  $112.94
26          4   $94.77
27          4   $74.41
28          4  $112.46
29          4  $108.95
30          4  $132.25
31          4  $135.93
32          4  $111.42
33          4  $101.85
34          4  $112.66
35          4  $145.16
36          4  $129.86
37          4  $118.73
38          4  $105.67
39          4   $96.25
40          3  $124.27
41          3  $100.37
42          3  $126.93
43          3  $112.16
44          3  $102.33
45          3   $70.48
46          4   $92.07
47          3  $155.05
48          3  $142.07
49          3  $140.71
50          3  $132.80

In [16]:
gas = []
gas_total = 0

for row in data['Gas']:
    gas.append(row.strip('$'))
    gas_total += float(row.strip('$'))

gas_average = round(gas_total / data['Gas'].count(), 2)
print("The average cost of gas was ${}".format(gas_average))

The average cost of gas was $36.8