In [1]:
import pandas as pd

df = pd.read_csv('cost_distribution.csv')

df.head(10)

,Month,Utility,Gas,Electricity,Water,Internet,TOTAL,Occupants,EACH
0,January,$22.19,$51.42,$58.52,$43.85,$59.99,$235.97,2,$117.99
1,February,$55.41,$68.60,$60.61,$49.14,$59.99,$293.75,2,$146.88
2,March,$55.41,$46.63,$29.75,$65.13,$59.99,$256.91,2,$128.46
3,April,$55.41,$19.07,$56.67,$62.32,$59.99,$253.46,3,$84.49
4,May,$55.41,$19.07,$56.67,$62.32,$59.99,$253.46,3,$84.49
5,June,$65.41,$11.60,$89.69,$66.00,$59.99,$292.69,3,$97.56
6,July,$55.41,$35.34,$93.53,$61.96,$59.99,$306.23,3,$102.08
7,August,$55.41,$14.18,$193.46,$60.75,$59.99,$383.79,3,$127.93
8,September,$55.41,$15.48,$160.06,$62.50,$59.99,$353.44,3,$117.81
9,October,$55.47,$13.34,$116.77,$62.50,$59.99,$308.07,3,$102.69

In [2]:
df[df.Month == 'January']

,Month,Utility,Gas,Electricity,Water,Internet,TOTAL,Occupants,EACH
0,January,$22.19,$51.42,$58.52,$43.85,$59.99,$235.97,2,$117.99
12,January,$55.47,$85.25,$105.40,$0.00,$59.99,$306.11,3,$102.04
24,January,$55.47,$69.88,$107.00,$37.53,$81.95,$351.83,4,$117.28
36,January,$55.57,$98.70,$166.12,$35.09,$80.00,$435.48,4,$145.16
48,January,$55.59,$68.50,$216.24,$44.83,$80.00,$465.16,3,$155.05